header {
  text-align: center;
}

div{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
canvas{
    display: block;
    margin:0 auto;
}

.game {
  /* visibility: hidden; */
}

#start {
  font-size: 30px;
  color: white;
  background-color: #6de41b;
  border-color: #daffc1b0;
  border-radius: 5px;
}
