header {
  text-align: center;
}

div{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
canvas{
    display: block;
    margin:0 auto;
}

.game {
  display: none;
}

#start {
  font-size: 30px;
  color: white;
  background-color: #6de41b;
  border-color: #daffc1b0;
  border-radius: 5px;
}

.menu-collapse {
  margin: auto;
  width: 300px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.menu-collapse label {
  display: block;
  margin: auto;
}

.menu-content {
  display: block;
  visibility: visible;
}

input#menu {
    display: none;
}

input#menu:checked ~ .menu-content {
  display: none;
}
