header {
  text-align: center;
}

div{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
canvas{
    display: block;
    margin:0 auto;
}

.game {
  /* visibility: hidden; */
}

#start {
  font-size: 30px;
  color: white;
  background-color: #6de41b;
  border-color: #daffc1b0;
  border-radius: 5px;
}

.menu-content {
    /* font-family: 'Oswald', sans-serif; */
    padding: 0 0 0 50px;
}.menu-collapse {
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    /* border-bottom: 3px solid #CDE700; */
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.menu-collapse label {
    font-size: 56px;
    display: block;
    cursor: pointer;
    padding: 10px 0 10px 50px;
}input#menu {
    display: none;
}


input#menu:checked ~ .menu-content {
    display: inline-block;
}
